a {
    text-decoration: none !important;
}

.btn-body{
    height: 80px;
    width: 80px;
    border-radius: 20px;
    color: #e469e4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px auto;
    transition: all 0.2s ease;
    background-color: rgba(239, 146, 244, 0.236);
}

.btn-body.active{
    background-color: rgb(220, 146, 244);
    color: #fff;
    transform: scale(1.05);
}

.btn-body:hover{
    color: rgb(213, 160, 218);
}

.btn-title{
    margin: 4px auto;
    font-weight: 600;
    font-size: 14px;
}